BPEL/Solicitud_de_viaje/src/REST_USUARIO.wsdl

<definitions name="REST_USUARIO"
    targetNamespace="http://j2ee.netbeans.org/wsdl/Solicitud_de_viaje/src/REST_USUARIO"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:rest="http://schemas.sun.com/jbi/wsdl-extensions/rest/"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:tns="http://j2ee.netbeans.org/wsdl/Solicitud_de_viaje/src/REST_USUARIO">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/Solicitud_de_viaje/src/REST_USUARIO"/>
    </types>
    <message name="asignarviajeRequest">
        <part name="part1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" type="xsd:anyType"/>
    </message>
    <message name="asignarviajeResponse">
        <part name="part1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" type="xsd:anyType"/>
    </message>
    <message name="desasignarviajeRequest">
        <part name="part1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" type="xsd:anyType"/>
    </message>
    <message name="desasignarviajeResponse">
        <part name="part1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" type="xsd:anyType"/>
    </message>
    <portType name="RestOutboundPortType">
        <operation name="asignarviaje">
            <input name="asignarviajeInput" xmlns:tns="http://j2ee.netbeans.org/wsdl/Solicitud_de_viaje/src/REST_USUARIO" message="tns:asignarviajeRequest"/>
            <output name="asignarviajeOutput" xmlns:tns="http://j2ee.netbeans.org/wsdl/Solicitud_de_viaje/src/REST_USUARIO" message="tns:asignarviajeResponse"/>
        </operation>
        <operation name="desasignarviaje">
            <input name="desasignarviajeInput" xmlns:tns="http://j2ee.netbeans.org/wsdl/Solicitud_de_viaje/src/REST_USUARIO" message="tns:desasignarviajeRequest"/>
            <output name="desasignarviajeOutput" xmlns:tns="http://j2ee.netbeans.org/wsdl/Solicitud_de_viaje/src/REST_USUARIO" message="tns:desasignarviajeResponse"/>
        </operation>
    </portType>
    <binding name="RestOutboundBinding" type="tns:RestOutboundPortType">
        <rest:binding/>
        <operation name="asignarviaje">
            <rest:operation>
&lt;![CDATA[
# required, URL of external resource
# for example: http://somehost.com/users/{id}/address
url=http://localhost:8001/userviaje

# optional, HTTP verb to access the resource, defaults to GET
method=POST

# optional, acceptable media types of response can be added as array elements in JSON format
accept-types=[ "application/json" ]

# optional, preferred natural languages for the response, added as array elements in JSON format
accept-languages=[ ]

# optional, content type of outgoing payload, defaults to any type
content-type=application/json

# optional, additional custom HTTP headers can be added as pairs in JSON format in this property
# for example:  { "authorization" : "257984234", "last-modifed" : "2009-04-23:12:00:00" }
headers={ }

# optional, style for the parameters, valid values are QUERY, MATRIX, defaults to QUERY
param-style=Query

# optional, additional custom HTTP parameters can be added as pairs in JSON format in this property
# for example:  { "userid" : "abc" , "userpassword" : "123" }
params={ }

# optional, adding HTTP Basic Authentication header to the HTTP request,
# if the two properties below are specified
basic-auth-username=
basic-auth-password=

# optional, if the JSON document expected for a request has no root, remove it with the option request-root-removed
request-root-removed=false

#optional,if the response of a REST request has no root, you can add one with this option response-root-required. 
response-root-required=false

#The root name element is defined by response-root-name.
#response-root-name=myRoot


]]&gt;</rest:operation>
            <input name="asignarviajeInput"/>
            <output name="asignarviajeOutput"/>
        </operation>
        <operation name="desasignarviaje">
            <rest:operation>
&lt;![CDATA[
# required, URL of external resource
# for example: http://somehost.com/users/{id}/address
url=http://localhost:8001/userviaje

# optional, HTTP verb to access the resource, defaults to GET
method=DELETE

# optional, acceptable media types of response can be added as array elements in JSON format
accept-types=[ "application/json" ]

# optional, preferred natural languages for the response, added as array elements in JSON format
accept-languages=[ ]

# optional, content type of outgoing payload, defaults to any type
content-type=application/json

# optional, additional custom HTTP headers can be added as pairs in JSON format in this property
# for example:  { "authorization" : "257984234", "last-modifed" : "2009-04-23:12:00:00" }
headers={ }

# optional, style for the parameters, valid values are QUERY, MATRIX, defaults to QUERY
param-style=Query

# optional, additional custom HTTP parameters can be added as pairs in JSON format in this property
# for example:  { "userid" : "abc" , "userpassword" : "123" }
params={ }

# optional, adding HTTP Basic Authentication header to the HTTP request,
# if the two properties below are specified
basic-auth-username=
basic-auth-password=

# optional, if the JSON document expected for a request has no root, remove it with the option request-root-removed
request-root-removed=false

#optional,if the response of a REST request has no root, you can add one with this option response-root-required. 
response-root-required=false

#The root name element is defined by response-root-name.
#response-root-name=myRoot


]]&gt;</rest:operation>
            <input name="desasignarviajeInput"/>
            <output name="desasignarviajeOutput"/>
        </operation>
    </binding>
    <service name="RestOutboundService">
        <port name="RestOutboundWSDL_OutboundPort" binding="tns:RestOutboundBinding">
            <rest:address/>
        </port>
    </service>
    <plnk:partnerLinkType name="RestOutboundWSDL">
        <!-- A partner link type is automatically generated when a new port type
        is added. Partner link types are used by BPEL processes.

        In a BPEL process, a partner link represents the interaction between
        the BPEL process and a partner service. Each partner link is associated
        with a partner link type.

        A partner link type characterizes the conversational relationship
        between two services. The partner link type can have one or two roles.-->
        <plnk:role name="RestOutboundPortTypeRole" portType="tns:RestOutboundPortType"/>
    </plnk:partnerLinkType>
</definitions>
